@font-face {
  font-family: "Gudea";
  src: url("../assets/fonts/Gudea-Bold.ttf");
}
@font-face {
  font-family: "Ubuntu Condensed", sans-serif;
  src: url("../assets/fonts/UbuntuCondensed-Regular.ttf");
}
@font-face {
  font-family: "Yanone Kaffeesatz", sans-serif;
  src: url("../assets/fonts/YanoneKaffeesatz-Bold.ttf");
}
.first {
  display: none;
}
.first-img {
  width: 270px;
}
@media screen and (min-width: 1025px) {
  .first-img {
    width: 390px;
  }
}

.main-side {
  height: auto;
}
@media screen and (min-width: 1025px) {
  .main-side {
    height: 90vh !important;
  }
}

.party {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5) !important;
  transition: all 2s;
  position: static;
}
.party-logo {
  width: 70px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5) !important;
}

#showNow {
  height: 90vh !important;
}

.text-shadow {
  color: #4BA0FD;
  font-variant: small-caps;
  font-family: "Gudea", sans-serif;
  cursor: default;
}
.text-shadow-h1 {
  font-size: 0vw;
  line-height: 6vw;
}
.text-shadow-h1 span {
  color: #e60000;
}
.text-shadow-h3 {
  font-size: 0vw;
  color: #030d42;
}

.decorate {
  font-family: "Ubuntu Condensed" sans-serif;
  font-style: italic;
  font-size: 5vw;
}
@media screen and (min-width: 1024px) {
  .decorate {
    font-size: 2vw;
  }
}

nav {
  position: fixed;
  top: 0;
  height: 60px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.7);
  background-color: #fff !important;
  width: 100vw;
}
@media screen and (min-width: 1025px) {
  nav {
    width: 75vw;
  }
}
nav ul {
  height: 100%;
}
nav ul a,
nav ul a:hover,
nav ul a:visited,
nav ul a:active {
  color: #fff;
  text-decoration: none;
}
nav ul li {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  padding: 5px;
}
nav ul li a:hover {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

body {
  background-color: #e0efff;
}
@media screen and (min-width: 1024px) {
  body {
    margin-top: 60px;
  }
}

.aboutSection {
  background: linear-gradient(#9C97A5, #A29FAF, #928F9A);
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (min-width: 1025px) {
  .aboutSection {
    height: 100vh;
  }
}

.dp {
  overflow-x: hidden;
}

.mine-wi {
  overflow-y: scroll;
  width: 100vw !important;
}
@media screen and (min-width: 1025px) {
  .mine-wi {
    width: 75vw !important;
  }
}

.ViewImg {
  display: none;
}
@media screen and (min-width: 1025px) {
  .ViewImg {
    display: block;
    width: auto;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
  }
}

.formWidth {
  width: 90vw;
  margin-top: 70px;
}
@media screen and (min-width: 1024px) {
  .formWidth {
    width: 50vw;
    margin-top: 0;
  }
}

.socials {
  height: 340px;
  width: 100px;
}
.socials ul {
  height: 100%;
}
.socials ul a {
  color: unset;
}
.socials ul li:nth-child(1) .fab:hover, .socials ul li:nth-child(1) .fa:hover {
  color: #3b5998;
}
.socials ul li:nth-child(2) .fab:hover, .socials ul li:nth-child(2) .fa:hover {
  color: #38a1f3;
}
.socials ul li:nth-child(3) .fab:hover, .socials ul li:nth-child(3) .fa:hover {
  color: #fb3958;
}
.socials ul li:nth-child(4) .fab:hover, .socials ul li:nth-child(4) .fa:hover {
  color: #c4302b;
}
.socials ul .fab, .socials ul .fa {
  font-size: 28px;
  padding-left: 1px;
  transition: all 0.5s;
}
.socials ul .fab:hover, .socials ul .fa:hover {
  font-size: 40px;
  padding-left: 5px;
  transition: all 0.5s;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

#showNow {
  height: 0%;
  overflow: hidden;
}

.hide-text {
  transition: all 2s;
}
@media screen and (min-width: 1024px) {
  .hide-text {
    height: 100% !important;
  }
}
.hide-text .text-shadow-h1 {
  font-size: 12vw;
  line-height: 12vw;
  transition-delay: text-shadow 2s;
  transition: font-size 1s, text-shadow 3.5s;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 1025px) {
  .hide-text .text-shadow-h1 {
    font-size: 6vw;
    line-height: 6vw;
    transition-delay: text-shadow 2s;
  }
}
.hide-text .text-shadow-h1 span {
  color: #e60000;
}
.hide-text .text-shadow-h3 {
  transition: font-size 1s, text-shadow 3.5s;
  transition-delay: text-shadow 2s;
  font-size: 9vw;
  color: #030d42;
  text-shadow: 3px 3px 5px rgba(83, 83, 83, 0.5) !important;
}
@media screen and (min-width: 1025px) {
  .hide-text .text-shadow-h3 {
    font-size: 4vw;
  }
}

.overflow {
  overflow: scroll;
}
@media screen and (min-width: 1025px) {
  .overflow {
    overflow: hidden;
  }
}

.mDown {
  bottom: 410px;
  animation: all 2s;
}

.shadowed {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5) !important;
  transition-delay: 3s;
  transition: all 5s;
}

.volunteer {
  box-shadow: 0px 0px 1px #000 !important;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
